.layout{
    display: grid;
    place-content: center;
    text-align: start;
}



.form{
    display: flex;
    flex-direction: column;

    
    & > button {
        margin-top: 6px;
    }
}

.button{
    cursor: pointer;
}

.p{
    max-width: 50%;
}